@model EduCore.Models.ViewModel.AddTraineeViewModel
<h1>Add Trainee to Course</h1>
<p>Are you sure you want to add this trainee to the course?</p>
<form method="post" asp-action="AddTraineeConfirmed" asp-controller="Course">
	<input asp-for="CourseId" type="hidden" />
	<input asp-for="TraineeId" type="hidden" />
	<button type="submit" class="btn btn-primary">Yes, Add Trainee</button>
	<a href="/Course/ShowAll" class="btn btn-secondary">Cancel</a>
</form>