@model Course
@{
}
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
<h1>New</h1>
<form method="post" asp-action="SaveNew" asp-controller="Course">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form form-control" />

		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Degree"></label>
		<input asp-for="Degree" class="form form-control" />
	</div>
	<div>
		<label asp-for="MinDegree"></label>
		<input asp-for="MinDegree" class="form form-control" />
	</div>
	<div>
		<label asp-for="Hours"></label>
		<input asp-for="Hours" class="form form-control" />
	</div>
	<div>
		<label asp-for="DepartmentId"></label>
		<input asp-for="DepartmentId" class="form form-control" />
	</div>
	<div>
		<input type="submit" value="Create" class="btn btn-success" />
	</div>
	<div>
		<a asp-action="ShowAll" class="btn btn-secondary">Back to List</a>
	</div>

</form>
